<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.PERSONELTRACKINGConnectionString"
            connectionString="Data Source=SULAEMANMOHAMMA;Initial Catalog=PERSONELTRACKING;User ID=sa;Password=datavesta27"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.PERSONELTRACKINGConnectionString1"
            connectionString="Data Source=.;Initial Catalog=PERSONELTRACKING;User ID=sa;Password=datavesta27"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>